<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Food SIG 2nd General Election</h1>
    <p>Food SIG 2nd General Election</p>


        
  </body>
</html>
